vars.sh

AE_element.mat.*
firstA.*
last.*
mat.*
rep.*

pBB*.*
*.exe
*.pyc
slurm-*.out
Makefile~
*.py~
*.getpot~
*.tex~
*.txt~

pdflatex.out
*.aux
serialreport.log
serialreport.pdf
parallelreport.log
parallelreport.pdf
tests.log
